<a href="{% url 'caisse:home' %}" class="d-block blue nav-option mb-3 p-3 rounded white-text text-center">
    <span class="fa fa-home fa-2x"></span><br>
    <span>DashBoard</span>
</a>
<a href="" class="d-block white-text blue nav-option mb-3 p-3 rounded text-center">
    <span class="fa fa-cogs fa-2x"></span><br>
    <span>Paramètres</span>
</a>
<a href="" class="d-block white-text blue nav-option mb-3 p-3 rounded text-center">
    <span class="fa fa-calculator fa-2x"></span><br>
    <span>Comptabilité</span>
</a>
<a href="" class="d-block white-text blue nav-option mb-3 p-3 rounded text-center">
    <span class="fa fa-user-cog fa-2x"></span><br>
    <span>Personnel</span>
</a>